html, body {
  height: 100%;
  width: 100%;
}

h2 {
  font-weight: 300;
    font-family: serif;
}

 /* .container {
    display: flex;
    height: 63%;
    width: 100%;
 }

 .carousel {
   display: flex;
    height: 63vh;
    width: 100%;
 } */

/* .image-slide {
  height: 100%;
  width: 100%;
  transition: background-image .3s ease-in-out;
}

.slide-arrow {
  color: black;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 30%;
}

.slide-arrow.right {
  right: 1rem;
}

.slide-arrow.left {
  left: 1rem;
} */

/* app */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #222429, rgb(63, 63, 63));
  background-size: cover;
}

.navbar {
    display: flex;
    width: 100vw;
    height: 10vh;
    font-weight: bold;
    justify-content: space-evenly;
    border-bottom: 1px solid #212122;
    align-items: center;
}

.navbar a {
  color: white;
  padding: 20px 0px 20px 0px;
}

.content {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  font-family: serif;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
}

.header-transition-enter {
  opacity: 0;
  transform: scale(0.9);

}
.header-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 3000ms, transform 3000ms;
}

.App-header {
  display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    height: 90vh;
}

.App-header img {
  border-radius: 100px;
  margin-right: 5px;
}

.header-links {
  margin-left: 5px;
}

.header-links img {
    border-radius: 0;
    height: 35px;
    width: 35px;
    filter: brightness(0) invert(1);
    padding: 5px 10px 5px 10px;
}

.header-links > img:last-child {
      height: 35px;
    width: 35px;
    margin-left: 5px;
    cursor: pointer;
}

.App-header > div {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  align-items: center;
}
.App-header h3 {
  margin: 5px;
  font-weight: 100;
}
.App-header h1 {
  margin: 5px;
  font-weight: 500;
}

.about article {
  display: flex;
    justify-content: center;
    width: 40vw;
  margin-bottom: 5%;
    color: white;
}

.about p {
  display: flex;
    justify-content: center;
    width: 40vw;
  margin-bottom: 5%;
    color: white;
}

#transform  {
  -webkit-animation: swoopin 3s;
  -moz-animation:    swoopin 3s; 
  -o-animation:      swoopin 3s; 
  animation:         swoopin 3s;
}

.about  {
  -webkit-animation: swoopin 1s;
  -moz-animation:    swoopin 1s; 
  -o-animation:      swoopin 1s; 
  animation:         swoopin 1s;
  margin-left: 5%;
}


@keyframes swoopin {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes swoopleft {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about h2 {
  color: white;
  border-bottom: 1px solid rgb(204, 197, 197);
}
.projects {
  width: 60vw;
  height: 90vh;
}
.projects div {
  display: flex;
  flex-direction: column;
    justify-content: flex-start;
    color: white;
    font-family: sans-serif;
}

.projects a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 20px;
    margin-left: 40px;
    margin-top: 10px;
}


.projects h2 {
  color:white;
  border-bottom: 1px solid rgb(204, 197, 197);
}

.projects img {
  height: 100px;
  width: 100px;
  transition: transform 0.5s;
}

.rotate {
  animation: rotation 3s infinite linear
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.shake {
  animation: shake 2s;
   animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.skills {
  width: 80vw;
  height: auto;
}

.skills h2 {
  color: white;
  border-bottom: 1px solid rgb(204, 197, 197);
}
.skills div {
  margin: 15px 15px 15px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.hide {
  visibility: hidden;
  height: 100vh;
  max-width: 400px;
}

.show {
  max-height: 160px;
  max-width: 400px;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 3s; /* Firefox < 16 */
          -ms-animation: fadein 3s; /* Internet Explorer */
           -o-animation: fadein 3s; /* Opera < 12.1 */
              animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#rails {
height: 160px;
  width: 160px;
}

#postgres {
  max-height: 200px;
  height: 200px;
  width: 200px;
}

#css {
  margin-left: 50px;
}

a {
  text-decoration: none;
  color: black;
}

details {
      width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    font-family: serif;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}

.credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#copyright {
  margin-top: 100px;
  height: 10vh;
  color: white;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  height: 90vh;
}

#single-project {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#single-project:first-child {
  animation: 1s swoopin;
}

#single-project:nth-child(2) {
  animation: 2s swoopleft;
}

#single-project:last-child {
  animation: 3s swoopin;
}

#single-project div:last-child {
      margin-left: 20%;
}


@media (max-width: 1000px) and (max-height: 1000px) {
  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    height: 90vh;
  }

  .flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 90vh; */
  }

  #transform {
    height: 30%;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .about p {
    width: 80vw;
  }
  .about article {
    width: 80vw;
    padding: 20px 0px 20px 0px;
  }

  .about article:nth-of-type(2){
    display: none;
  }

  .navbar a:nth-child(3) {
    display: none;
  }

  .projects {
    display: none;
  }

/* 
  .projects {
   width: 60vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects h2 {
    width: 90px
  }

  #single-project {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #single-project > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects a {
    margin-left: 0px;
  }

  #single-project div:last-child {
    margin-left: 0px;
  }

  ul {
      padding-left: 20px;
  } */

  /* .show {
    max-width: 300px;
  } */

  #css {
    margin-left: 0px;
  }

  .skills h2 {
    margin: 15px 48px 0px 40px;
  }
}