html, body {
  height: 100%;
  width: 100%;
}

 /* carousel */
 .container {
    display: flex;
    height: 63%;
    width: 100%;
 }

 .carousel {
   display: flex;
    height: 63vh;
    width: 100%;
 }

.image-slide {
  height: 100%;
  width: 100%;
  transition: background-image .3s ease-in-out;
}

.slide-arrow {
  color: black;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 30%;
}

.slide-arrow.right {
  right: 1rem;
}

.slide-arrow.left {
  left: 1rem;
}

/* app */
.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #222429, rgb(63, 63, 63));
}

.navbar {
    display: flex;
    width: 100vw;
    font-weight: bold;
    justify-content: space-evenly;
    border-bottom: 1px solid #212122;
}

.navbar a {
  color: white;
  padding: 10px 0px 10px 0px;
}

.content {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  font-family: serif;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
}

.header-transition-enter {
  opacity: 0;
  transform: scale(0.9);

}
.header-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 3000ms, transform 3000ms;
}

.App-header {
  display: flex;
  margin: 20px 0px 20px 10px;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: sans-serif;
  margin-top: 15%;
    margin-bottom: 11%;
}

.App-header img {
  border-radius: 100px;
}

.header-links {
  display: flex;
    align-items: center;
}

.header-links img {
    border-radius: 0;
    height: 35px;
    width: 35px;
    filter: brightness(0) invert(1);
    padding: 5px 10px 5px 10px;
}

.header-links > img:last-child {
      height: 35px;
    width: 35px;
    margin-left: 5px;
    cursor: pointer;
}

.App-header > div {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
  align-items: center;
}
.App-header h3 {
  margin: 5px;
  font-weight: 100;
}
.App-header h1 {
  margin: 5px;
  font-weight: 500;
}

.about article {
  display: flex;
    justify-content: center;
    margin: 30px 15px 0px 15px;
    width: 40vw;
    height: 36vh;
    color: white;
}

.about article:last-child {
  margin-bottom: 15px;
}

.about h2 {
  margin: 15px 15px 15px 15px;
  font-weight: 300;
  font-family: serif;
  color: white;
  border-bottom: 1px solid rgb(204, 197, 197);
}
.projects {
  height: 100vh;
  width: 60vw;
}
.projects div {
  margin: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  
}

.projects a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 20px;
    margin-left: 40px;
    margin-top: 10px;
}


.projects h2 {
  color:white;
  border-bottom: 1px solid rgb(204, 197, 197);
}

.projects img {
  height: 100px;
  width: 100px;
  transition: transform 0.5s;
}

.rotate {
  animation: rotation 3s infinite linear
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.shake {
  animation: shake 2s;
   animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.skills div {
  margin: 15px 15px 15px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.skills img {
  max-height: 160px;
  max-width: 400px;
}
#react {
height: 160px;
  width: 290px;
}
#redux {
height: 160px;
  width: 335px;
}

#rails {
height: 160px;
  width: 160px;
  margin-left: 100px;
}

#css {
  margin-left: 50px;
}

a {
  text-decoration: none;
  color: black;
}

details {
      width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    font-family: serif;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}

.credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#copyright {
  color: white;
}